/* Global Styles */
body {
    font-family: Verdana;
    font-size: 35px;
    font-style: italic;
    color: rgb(63, 63, 63);
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

h5 {
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}


#main {
    background-color: #D2D6C7
}

/* Important Text */
.important {
    color: #6c757d
}

/* Buttons */
.btn-outline-secondary {
    color: #344556;
    /* Button text color */
}

/* Footer */
.container-fluid {
    background-color: #D2D6C7;
    /* Dark background color for the footer */
    color: burlywood;
    /* Text color for the footer */
    padding: 10px;
}

#btn-story {
    background-color: #D1C0A8;
}

.center {
    text-align: center;
}

#btn-signup {
    background-color: #D1C0A8;
}

#btn-msg {
    background-color: #D1C0A8;
}